@model Cust

<!-- Asp-action etiketi yardımcısı form için bir URL oluşturabilir -->

<form asp-action="UpdCust" method="POST">
    <!-- asp-for oluşturduğun model e göre bağlantı -->
    <input asp-for="ID" type="hidden" >

    <label asp-for="Name" >Müşteri Adı:</label>
    <input asp-for="Name">

    <label asp-for="Debt">Müşteri Borcu:</label>
    <input asp-for="Debt">

    <label asp-for="Disabled">Müşteri Borcu:</label>
    <input asp-for="Disabled" type="checkbox"> Aktif / Pasif <br>

    <button type="submit" id="btnUpd">Güncelle</button>
</form>